* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*=========================
 Header Section start 
 ============================== */
.header-container {
    background-color: #f5dce4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding:0 5em; */
}

.header-text {
    padding-left: 5em;
}

.header-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: bold;
}

.header-text p {
    font-size: 2em;
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    height: 100%;

}

.header-image img {
    height: 100%;
}

.main-button {
    background: linear-gradient(rgba(250, 5, 5, 0.281), rgba(212, 38, 38, 0.795));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
}

/*=========================
 Header Section end 
 ============================== */


/*=========================
 Feature Section Start 
 ============================== */

.feature-section {
    margin: 3em;
}

.middle-section-header {
    display: flex;
    justify-content: center;
    margin: 5em;
}

.middle-section-text {
    width: 50%;
    text-align: center;
}

.middle-section-text h1 {
    font-size: 3em;
    margin: 1em 0;
}

.feature-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-decoration: underline;
}

.feature-card {
    width: 22em;
    border-radius: 195px 195px 0 0;
    margin-bottom: 1em;
}

.feature-card img {
    width: 100%;
}

.feature-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    margin: 10em 5em;
    padding: 5em;
}

/*=========================
 Feature Section End
 ============================== */


/*=========================
 Hot Deal Section Start
 ============================== */

.hot-deal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5dce4;
    padding: 5em;
}

.hot-deal h4 {
    font-size: 2em;
}

.percent {
    color: #f305cb;
}

.hot-deal h1 {
    font-size: 4em;
}

/*=========================
 Hot Deal Section End
 ============================== */


/*=========================
 Instagram Section Start
 ============================== */

.instagram-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5em;
}

.instagram-image img {
    width: 16em;
}

/*=========================
 Instagram Section End
 ============================== */


/*=========================
 Latest Deal Section Start
 ============================== */

.want-more {
    background-image: url('../images/latest-deal.png');
    border-radius: 10px;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.want-more h1 {
    font-size: 3em;

}

.want-more input {
    padding: 12px 20px;
    width: 60%;
}

/*=========================
 Latest Deal Section End
 ============================== */


/*=========================
 Footer Section Start
 ============================== */
.footer-section {
    background-color: black;
    color: white;
    height: 20em;
    margin-top: 5em;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.copy-right {
    margin-top: 5em;
}

/*=========================
 Footer Section End
 ============================== */